<div class="container">
                <div class="logo logoMain"></div>
                <div class="mainMenu">
                       <div class="categoryQuiz artistQuiz">
                          <div class="mainMenu_img mainMenu_artist"></div>
                          <h2 class="text mainMenu_text">artists <span class="text_bold">quiz</span></h2>
                       </div>
                      <div class="categoryQuiz picturesQuiz">
                          <div class="mainMenu_img mainMenu_pictures"></div>
                          <h2 class="text mainMenu_text">pictures <span class="text_bold">quiz</span></h2>
                      </div>
                 </div>
                 <div class="buttons_wrapper">
                 <button class="buttons buttons_settings">
                                  <img class="button-settings-img" src="../../data/svg/settings.svg" alt="settings_btn">
                                  <span class="button-settings-txt">settings</span>
                 </button>
                 </div>
             </div>