.button {
  width: 150px;
  height: 50px;
  background: #660033;
  border: none;
  display: flex;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
}

.button-settings-buttonElement{
  margin: auto 0;
}
